.typoN{
    scroll-snap-align: start;
    height: 60vh;
    width: 100%;
    background-color:rgb(6,48,255);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15rem;
}