.foot {
  height: 60vh;
  width: 100%;
  background-color: rebeccapurple;
}
.message {
  height: 50vh;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  .lspr {
    height: 100%;
    width: 80%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    h3{
      font-size: 7rem;
      text-transform: capitalize;
      background-color: aliceblue;
    }
    .send{
      
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      textarea{
        height: 100%;
        width: 60%;
        
        font-size: 3rem;
        outline: none;
        border: none;
      }
      button{
        height: 100%;
        width: 20%;
        background-color: rgb(22, 135, 233);
        border: none;
        font-size: 3rem;
      }
    }
    
  }
  .job {
    height: 100%;
    width: 20%;
    background-color: rgb(211, 241, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .photo{
      height: 60%;
      width: 60%;
      border-radius: 40%;
      background-color: aliceblue;
    }
    h2{
      font-size: 2rem;
    }
    .ctaction{
      
      width: 80%;
      height: 10%;

      display: flex;
        justify-content: space-around;
        align-items: center;
        

      .de,.em{
        height: 100%;
        width: 40%;
        border-radius: 10%;
        text-align: center;
        background-color: rgb(255, 50, 50);
        
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .em{
        background-color: rgb(255, 48, 227);
      }
    }
  }
}
.socials {
  height: 10vh;
  width: 100%;
  background-color: rgb(6, 131, 240);
  .social {
    height: 7vh;
    width: 100%;
    background-color: rgb(0, 108, 202);

    display: flex;
    justify-content: space-around;
    align-self: center;
    a{
      display: flex;
      justify-content: center;
      align-self: center;
    }
  }
  .copy {
    text-align: center;
    font-size: 2rem;
  }
}

.icon{
  font-size: 3rem;
}
.linkedin{
  color: #0077B5;
}
.github{
  color: #171515 ;
}
.insta{
  border-radius: 30%;
  color: #ffffff;
  background-image: linear-gradient( rgb(254, 218, 117),rgb(250,126,30), rgb(150,47,191) );
}

